html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  width: 100%;
  padding:0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: $black;
  background-color: $dark-grey;
}
  
a {
  color: $dark-grey;
  text-underline-position: under;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.site-container {
  width: 100%;
  
  @include mq(sm) { 
    display: table;
    padding-left: 240px;
    width: auto;
    height: 100%;
  }
}