html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  width: 100%;
  padding:0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
  background-color: #1f1f1f;
}
  
a {
  color: #0366d6;
  text-underline-position: under;
}

code,
pre {
  font-family: Menlo, Consolas, "Consolas for Powerline", "Courier New", Courier, monospace;
  background-color: #2b2b2b;
  color: #fff;
  padding: 0.25em
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.site-container {
  width: 100%;
  @include mq(sm) { 
    display: table;
    padding-left: 240px;
    width: auto;
    height: 100%;
  }
}