.contact-form {
    color: $dark-grey;
    width: 100%;

    @include mq(md) {
        display: table;
    }
}

.contact-form__col {
    padding: 30px;
    background-color: $white;

    @include mq(md) {
        display: table-cell;
        width: 50%;
        padding: 50px;

        &:nth-child(1) {
            border-right: 1px solid $dark-grey;
        }

    }
}

.contact-form__address, .contact-form__phone, .contact-form__hours {
    h2 {
        margin-top: 20px;
    }
}

.contact-form__hours-table {
    td, th {
        text-align: left;
        padding: 10px;
    }

    tr:nth-child(odd) {
        background-color: lighten($dark-grey, 60%);
        color: $dark-grey;
    }
}