.site__header {  
    background-color: #000;
    display: block;

    @include mq(sm) { 
        height: 100%;
        display: table-cell;
        vertical-align: top;
    }
    
    .logo {
        padding: 20px;
        text-align:center;
    }

    .logo__img {
        width: 200px;
        height: 200px;
        display: inline-block;
    }
    
}

.site__nav {
    display: none;

    @include mq(sm) { 
        display: block;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-top: 10px;
    }

    li.active a {
        background-color:#d79d32!important;
        color: #000!important;
        font-weight: bold;
    }

    a {
        display: block;
        color: #ededed;
        text-decoration: none;
        padding: 5px 15px;
    }

    a:hover {
        background-color: #282828;
    }
}