.contact-card {
    background-color: $black;
    font-size: 25px;
    color: $white;
    font-weight: bold;
    width: 100%;
    padding-left: 20px;

    @include mq(sm) { 
        padding-left: 0;
    }

}

.contact-card__content {
    font-size: 16px;
    padding: 10px 20px 10px 55px;
    margin: 2px;
    display: inline-block;
    position: relative;
    text-align: left;
    width: 250px;

    @include mq(sm) { 
        display: block;
        width: auto;
    }

    .fas {
        position: absolute;
        color: $white;
        top: 10px;
        left: 15px;
        font-size: 25px;
    }
}

.contact-card-container {
    @include mq(sm) { 
        position: absolute;
        z-index:99;
        width: 250px;
        font-size: 30px;
        left:30px;
        top: 260px;
    }

    @include mq(lg) { 
		left:100px;
    }
}


.callout-1 {
    // margin-top: 10px;
    color: $dark-grey;
    overflow-y: auto;

    @include mq(md) { 
        text-align: left;
        max-width: 1200px;
        color: $dark-grey;
        position: relative;
    }

    @include mq(lg) {
        overflow-y:visible;
    }
}

.callout-1__title {
    background-color: $green;
    color: $black;
    padding: 40px 30px;
    margin: 0;
    font-size: 40px;
    text-transform: uppercase;
    font-family: $header-font;

    @include mq(lg) { 
        font-size: 50px;
        padding: 40px 100px;
    }
}

.callout-1__photo {
    display: none;

    @include mq(lg) { 
        width: 460px;
        display: block;
        position: absolute;
        top: 150px;
        right: 0;
    }

    @include mq(xlg) { 
        width: 700px;
        right: -60px;
    }
}

.hours__title {
    padding: 0 0 10px 0;
    margin: 10px 0 0 0;
    font-size: 40px;
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $header-font;
}

.hours {
    margin-top: 10px;
}

.hours__table {
    color: $white;
    font-size: 23px;
    width: 100%;
    margin: 20px 0;


    @include mq(lg) {
        width: auto;
    }

    th {
        text-align: left;
        padding: 10px 10px 10px 30px;

        @include mq(lg) { 
            padding: 10px 10px 10px 100px;
        }
    }

    td {
        text-align: left;
        padding: 10px 100px 10px 10px;

        @include mq(sm) { 
            text-align: left;
        }
    }

    tr:nth-child(odd) {
        background-color: $gold;
        color: $dark-grey;
    }

}

.callout-2 {
    background-color: $gold;
    color: $dark-grey;
    clear: both;
    padding: 40px 30px;

    @include mq(lg) { 
        padding: 40px 100px;
    }

    a {
        color: $dark-grey;
    }

    p {
        font-size: 23px;

        @include mq(sm) {
            font-size: 30px;
        }
    }
}

.callout-2__title {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 40px;
    text-transform: uppercase;
    font-family: $header-font;
    color: $black;

    @include mq(lg) {
        font-size: 50px;
    }
}

.callout-2__service-menu-link {
    font-weight: bold;
}