.page-hero {
    position: relative;

    .page-title {
        background-color: $white;
        border: 1px solid $black;
        padding: 3px;
        position: absolute;
        top: 100px;
        left: 100px;
    }

    h1 {
        background-color: $white;
        border: 1px solid $black;
        line-height: 1em;
        display: inline-block;
        font-family: $header-font;
        color: $black;
        padding: 20px;
        margin: 0;
        text-transform: uppercase;
        font-size: 60px;
        text-align: left;
    }
}