.hero__image {
    display: none;

    @include mq(sm) { 
        display: block;
    }
}

.page-hero {
    @include mq(sm) { 
        position: relative;
    }

    .page-title {
        @include mq(sm) { 
            background-color: $white;
            top: 20px;
            left: 20px;
            position: absolute;
            border: 1px solid $black;
            padding: 3px;
            max-width: 665px;
            
        }

        @include mq(md) { 
            left: 100px;
        }
    }

    h1 {
        background-color: $white;
        line-height: 1em;
        font-family: $header-font;
        color: $black;
        padding: 20px;
        margin: 0;
        text-transform: uppercase;
        font-size: 50px;
        text-align: left;
        @include mq(sm) { 
            border: 1px solid $black;
            display: inline-block;
        }
    }
}