.services__table {
    background-color: $white;
    color: $black;
    font-size: 23px;
    width: 100%;
    margin: 0 0 20px 0;
    border: 0;
    padding: 0;
    border-collapse: collapse; /* Remove cell spacing */

    @include mq(sm) { 
        width: auto;
    }

    @include mq(lg) {
        margin-bottom: 100px;
    }

    tr {
        padding: 0;
        margin: 0;
    }

    th {
        padding: 30px 20px;
        background-color: $dark-grey;
        color: $white;
        text-align: left;
        text-transform: uppercase;
        font-family: $open-sans;
        font-size: 30px;
    }

    td {
        padding: 10px 20px;
        font-size: 16px;

    }

    td:nth-child(1), th:nth-child(1) {
        padding-left: 100px;
    }

    td:nth-child(1) {
        font-weight: bold;
        font-size: 16px;
    }

    td:nth-child(1), td:nth-child(2)  {
        border-right: 2px solid $dark-grey;
    }

    tr:nth-child(odd) {
        td {
            background-color: lighten($green, 10%);
        }
    }


}