.services__table {
    background-color: $white;
    color: $black;
    font-size: 30px;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    border-collapse: collapse; /* Remove cell spacing */

    @include mq(sm) { 
        width: auto;
    }

    tr {
        border-bottom: 1px solid $dark-grey;
    }

    td {
        vertical-align: top;
        padding-left: 30px;

        @include mq(md) { 
            padding-left: 100px;
            padding-right: 100px;
        }
    }

    td:nth-child(1) {
        padding-top: 20px;
        text-transform: uppercase;
    }

    td:nth-child(3) {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    td:nth-child(1), td:nth-child(2)  {
        font-weight: bold;
        display: inline-block;
    }

    td:nth-child(2), td:nth-child(3)  {
        display: block;
    }



}